* {
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0;
    background: cornsilk;
}

.figure {
    margin-top: 16px;
    margin-right: 0;
    margin-left: 0;
}

.figure__caption {
    text-align: center;
    margin: 8px 0 0;
    font-style: italic;
}

.figure__image {
    height: auto;
    max-width: 100%;
    margin: 0;
}

.article {
    background: rgba(255, 0, 0, 0.000000001);
    max-width: 680px;
    padding: 24px;
    font-family: sans-serif;
}

.article__lead {
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    font-family: serif;
}

.article__heading {
    margin: 0 0 1.5rem;
}

.article__heading--verified {
    color: palevioletred
}
